<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Adontrack</title>
	<link rel="stylesheet" type="text/css" href="../../css/login.css" />
	<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	<link href="https://fonts.googleapis.com/css?family=Jockey+One" rel="stylesheet">
</head>
<body>
	<header>
		<div class = "login_bar">
			<nav class = "navbar">
				<div class = "login_container">
					<div class = "login_content_container">
						<div class = "login_logo_container">
							<h2>PROJECT 303</h2>
						</div>
					</div>
					<div = "login_content_container">
						<div class = "login_form_container">
							<form action = "" method = "">
								<table>
									<tbody>
										<tr>
											<td>Username:</td>
											<td>Password:</td>
										</tr>
										<tr>
											<td><input type ="text" class = "input_text" name = "username" id = "username"></td>
											<td><input type ="password" class = "input_text" name = "pass" id = "pass"></td>
											<td><button type = "button" class = "login_button">Log In</button>
										</tr>
										<tr>
											<td></td>
											<td><a href ="">forgot account?</a></td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<section class = "content">
		<div class = "content_container">
			<div class = "about_container">
				<h2>Welcome to PROJECT 303</h2>
			</div>
			<div class = "signin_container">
				<h2>Create a new account here</h2>
				<form action = "" method = "">
					<input type ="email" name = "email" id = "email" placeholder = "Email">
					<input type ="text" name = "username" id = "username" placeholder = "Username">
					<input type ="password" name = "pass" id = "pass" placeholder = "Password">
					<input type ="password" name = "pass-confirm" id = "pass-confirm" placeholder = "Confirm Password">
				</form>
				<button type = "button" class = "signup_button">Sign Up</button>
				<div class = "footer">c. Theodore Nguyen 2019</div>
			</div>
		</div>
	</section>
</body>
</html>